<div class="w-64 h-96 rounded overflow-hidden shadow-lg space-y-2 px-4">
  <div class="flex justify-center h-48 py-4">
    <img
      class="max-w-xs"
      [src]="character.Imagen"
      alt="Sunset in the mountains"
    />
  </div>

  <div class="">
    <div class="font-bold text-xl mb-2">{{ character.Nombre }}</div>
    <p class="text-gray-700 text-base">
      {{ character.Ocupacion }}
    </p>
  </div>
  <div class="">
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >{{ character.Estado }}</span
    >
  </div>
</div>
