<ng-container *ngIf="vm$ | async as vm">
  <main class="flex flex-col gap-4 mb-12 lg:w-3/5 md:w-4/5 w-full">
    <div
      class="flex md:justify-between justify-center flex-wrap w-full items-center"
    >
      <mat-radio-group
        class="md:block hidden"
        color="primary"
        aria-label="Select an option"
        [(ngModel)]="displayOption"
      >
        <mat-radio-button value="list">List</mat-radio-button>
        <mat-radio-button value="grid">Grid</mat-radio-button>
      </mat-radio-group>

      <mat-paginator
        *ngIf="vm.filterValue?.length === 0"
        [length]="vm.total"
        [pageSize]="vm.limit"
        [pageIndex]="vm.page - 1"
        (page)="onPageChange($event)"
        showFirstLastButtons
        aria-label="Select Page for Simpsons Characters Table"
      />
    </div>

    <mat-form-field class="md:px-0 px-8">
      <mat-label>Busca Personajes</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ejemplo: Bart"
        #input
        [(ngModel)]="vm.filterValue"
      />
    </mat-form-field>
    <ng-container *ngIf="!vm.loading; else loadingTpl">
      <ng-container *ngIf="vm.characters.length > 0; else noResultsTpl">
        <section class="md:flex hidden flex-wrap gap-4 justify-center">
          <ng-container *ngIf="displayOption === 'list'; else gridTemplate">
            <app-characters-table class="w-full" [characters]="vm.characters" />
          </ng-container>
          <ng-template #gridTemplate>
            <app-character-card
              *ngFor="let character of vm.characters"
              [character]="character"
            />
          </ng-template>
        </section>
        <section class="flex md:hidden flex-wrap gap-4 justify-center">
          <app-character-card
            *ngFor="let character of vm.characters"
            [character]="character"
          />
        </section>
      </ng-container>
      <ng-template #noResultsTpl>
        <div class="h-[60vh] flex items-center justify-center">
          <p class="text-2xl">
            No hay personajes de los Simpsons con ese nombre
          </p>
        </div>
      </ng-template>
    </ng-container>
  </main>
  <ng-template #loadingTpl>
    <div class="h-[60vh] flex items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</ng-container>
