@if (character) {

  <div class="flex justify-center h-48 py-4">
    <img
      class="max-w-xs"
      [src]="character.Imagen"
      alt="Sunset in the mountains"
    />
  </div>

  <h3>{{ character.Nombre }}</h3>
  <small class="text-sm font-thin mb-4 flex mt-1">
    {{ character.Ocupacion }}
  </small>
  <p class="text-gray-700 text-base">
    {{ character.Historia }}
  </p>

  <span
    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
    >{{ character.Estado }}</span
  >

}
