/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "simpsons";
  src: url("assets/fonts/simpsons.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "simpsons", sans-serif !important;
}

h3 {
  @apply text-xl mb-0 !important;
}

.mat-typography h1 {
  @apply text-4xl my-8;
}

.mat-mdc-row:hover {
  @apply bg-gray-100 cursor-pointer;
}

.mat-mdc-paginator-container {
  @apply md:justify-end justify-center !important;
}

.mat-mdc-dialog-component-host {
  @apply block !important;
}
